body {
	color: #FFFFFF;
	background-color: #121212;
}

#actions {
	padding: 1em;
}

#upgrades, #weapons, #armour, #inventory {
	padding-left: 1em;
}

#apprentice, #anvil, #coffer  {
	padding-bottom: 0.5em;
}

#broadsword, #halberd {
	padding-bottom: 0.5em;
}

#shield, #gauntlets {
	padding-bottom: 0.5em;
}

#forge-tip, #anvil-tip, #apprentice-tip, #coffer-tip, #party-tip {
	visibility: hidden;
}

#broadsword-tip, #halberd-tip, #chakram-tip {
	visibility: hidden;
}

#shield-tip, #gauntlets-tip, #cuirass-tip {
	visibility: hidden;
}

#forge:hover > #forge-tip,
#anvil:hover > #anvil-tip, 
#coffer:hover > #coffer-tip, 
#apprentice:hover > #apprentice-tip,
#party:hover > #party-tip,
#broadsword:hover > #broadsword-tip, 
#halberd:hover > #halberd-tip,
#chakram:hover > #chakram-tip,
#shield:hover > #shield-tip,
#gauntlets:hover > #gauntlets-tip,
#cuirass:hover > #cuirass-tip {
	visibility: visible;
}